html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }
  .menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 15px 15px 0px 15px;
    background-color: #001030;
    font-size: 20px;
    display: grid;
    grid-template-columns: 15% 55% 30%;
    z-index: 1;
  }
  .content {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
  }
  .content>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
  }
  .drop,
  .sub,
  .clr,
  .down {
    border: 0.5px solid;
    cursor: pointer;
    font-size: medium;
    padding: 2px 5px 3px 5px;
    background-color: rgb(247, 222, 169);
    color: black;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5px 5px 5px 5px;
    color: black;
  }
  .dropdown-content input {
    color: black;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    display: block-inline;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #close,
  #open {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    color: black;
  }

  .btn-block {
    display: block;
    width: 50%;
  }

  .btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1;
    border-radius: .2rem;

  }

  .btn {
    display: inline-block;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: white;
    border: transparent;
    color: black;
    font-family:sans-serif;

  }

  .btn:hover{

    cursor: pointer;
    background-color: antiquewhite;
  }

  .color1{
    color: white;
  }

  .selectv{
    background-color: #fff;
    color: #15568f;
    width: 250px;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  ul li {
    cursor: grabbing;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 2px;
    text-decoration: none;
    font-size: 18px;
    color: black;
  }

  ul {
    height: 100px;
    margin-left: -393px;
    margin-top: 20px;
    display: block;
    margin-bottom: -25px !important;
    overflow-x: hidden;
    width: 400px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    list-style-type: none;
  }

  #selectVersionDiv{
    margin-top: -10px;
    position: relative;
    height: 20px;
    display: block;
    text-align: left;
    margin-bottom: 2px;
    width: inherit;
  }

  .close {
    cursor: pointer;

  }

.close:hover {background: white;}

#sidemenu {
    float:left;
    background-color:  #001030 ;
    width:15.4%;
    height:76%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  margin-left: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
  background-color: gainsboro;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

