<div class="menu" id="menuId">
    <div class="logo" style="width: 60px;">
      <img src=".\assets\Images\Basilisk_Logo.png" height="150" width="150" />
    </div>

      <div class="row menu-1" style="margin-bottom: 10px;">
        <div class="col-6" style="padding: 10px 10px; display: flex; float:left;">
          <div class="form-group" id="selectVersionDiv">
            <select id="selectVersion" name="selectVersion" (change)="versionSelected($event.target.value)"
                    style="width: 400px; border-radius: 4px;">
              <option *ngFor="let version of listOfUniqueVersions" value="{{version}}">
                {{version}}
              </option>
            </select>
          </div>
          <div class="row">
            <ul cdkDropList (cdkDropListDropped)="dragDrop($event)" id="myList" class="list-group">
              <li cdkDrag class="list-group-item" *ngFor="let version of selectedVersions">
                {{version}}
                <span class="close" style="float:right;" name="deselectVersion" (click)="versionDeleted(version)">&times;</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6" style=" display:inline-block; background-color:blueviolet;">
          <select id="xAxisVal" style="width: 180px; border-radius: 4px; height: 30px;">
            <option *ngFor="let xAxis of selectXaxis">No. of Clients:
              {{xAxis}}
            </option>
          </select>
          &nbsp;&nbsp;
          <select id="yAxisVal" style="width: 180px; border-radius: 4px; height: 30px;">
            <option *ngFor="let yAxis of selectYaxis">Select Y-axis:
              {{yAxis}} 
            </option>
          </select>
          <div>
            <select id="graphVal" style="border-radius: 4px; height: 30px; width: 380px; margin-top: 20px">
              <option *ngFor="let bars of selectYaxis">Select Graph: 
              </option>
            </select>
          </div>

          
          <div>
              <label class="btn btn-sm" style="height: 20px; margin-top: 30px; width: 180px;" onClick="">Submit</label>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <label class="btn btn-sm" style="height: 20px; margin-top: 30px; width: 180px;" onClick="">Clear all</label>  
          </div>

          
        </div>
      </div>



      <div class="menu-2" style="padding-left: 20px;">
        <table style=" padding: 10px 10px 10px 10px;">
          <tr>
            <td>
              <form class="color1">
                <input class="rad" type="radio" value="bar" name="chart" onclick="" checked> Bar chart<br>
                <input class="rad" type="radio" value="box" name="chart" onclick=""> Area Chart<br>
                <input class="rad" type="radio" value="line" name="chart" onclick=""> Line chart<br>
              </form>
            </td>
          </tr>

          <tr>
            <td class="color1">Download Results: &nbsp;
                <label class="btn btn-sm" style="margin-left: 0px" onclick="">RDF Format</label>
                &nbsp;&nbsp;
                <label class="btn btn-sm"  onclick="">CSV Format</label>
            </td>
          </tr>

          <tr>
            <td>
              <a href="#" class="btn btn-sm" id="login-button">Login</a>
              &nbsp;&nbsp;
              <a href="#" class="btn btn-sm" id="signup-button">Signup</a>
            </td>
          </tr>
        </table>
      </div>
  </div>
